[Desktop Entry]
Name=SoulFu BFTD
Comment=A fork of a 3D action role-playing hack and slash dungeon crawler by Aaron Bishop
Exec=soulfu
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Icon=soulfu
